
/* Global Styles*/
* {
    margin: 0px;
    border: 1px red solid;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 16px;
}


#results {
    color: black;
}

.roundResult {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


/* Button Styles */
#rock, 
#paper, 
#scissors { 
    width: 100px; 
    height: 52px;
    margin-left: 24px;
    margin-right: 24px;
}