
/* Global Styles*/
* {
    margin: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.results {
    
}

/* Button Styles */
#rock, 
#paper, 
#scissors { 
    width: 100px; 
    height: 52px;
    margin-left: 24px;
    margin-right: 24px;
}