@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

/* Global Styles*/
* {
    margin: 0px;
    font-family: 'inter', arial;
}

.scoresContainer,
.resultsContainer,
.buttonContainer { 
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.scoresContainer {
    gap: 64px;
}

.playerScore, 
.compScore { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    min-width: 200px;
}

.scoreCount {
    font-size: 128px;
    font-weight: 600;
}

.scoreLabel {
    font-size: 48px;
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 16px;
}


#results {
    color: black;
}

.roundResult {
    display: flex;
    flex-direction: column;
    min-width: 250px; 
}


/* Button Styles */
#rock, 
#paper, 
#scissors { 
    width: 100px; 
    height: 52px;
    margin-left: 24px;
    margin-right: 24px;
}